body {
    background-image: url("./images/background4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family:'Righteous', cursive;
    color: white;
}

.topic {
    margin: 10px;
   }

.buttons-view {
    border-radius: 25px;
    border: 2px solid wheat;
    padding: 10px;
}

h2 {
    letter-spacing: 5px;
    text-align: center;
    color:black
}

h6 {
    font-style: italic;
    color:black
}

.topic {
    font-size: 16px;
    font-weight: lighter;
}

.hero-name{
    margin: 20px;
    float: left;
}

p {
    color:papayawhip;
    margin-top: 20px;
    line-height: 16px;
}

img {
    border-radius: 20px;
    margin-top: 2px;
}